/*  */

@property --from {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.counter {
  transition: --from 1s;
  counter-reset: int var(--from);
  animation: counter var(--time, 1000) forwards ease-in-out;
}

.counter::after {
  content: counter(int);
}

@keyframes counter {
  to {
    --from: var(--to, 100);
  }
}


/*  */

:root {
  --header-height: 30px;
  --footer-height: 70px;
  --btn-radius: 5px;
  --main-font: roboto;
  --color-danger: #ff2430;
  /* --secondary-color: #9f34c0; */
  --primary-color: #6495ed;
  --primary-color: #9f34c0;
  --light-green: #78ee9b;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

a:hover {
  /* text-decoration-line: underline; */
}

p {
  margin-bottom: 5px;
}

#a-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  background-color: #eee;
  outline: none;
  border: none;
  /* width: 40px;
  height: 40px; */
  border-radius: 100%;
}

nav {
  display: none;
}

nav a:nth-child(1) {
  border-bottom: 1px solid var(--primary-color);
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  background-color: #fcfcfc;
}

header {
  padding: 12px 10px;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 2px #eee;
  position: sticky;
  top: 0;
  background-color: #fffffff8;
  z-index: 1;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: red; */
  /* height: calc(100vh - var(--header-height) - var(--footer-height) - 25px); */
  margin-top: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eee;
  padding: 20px;
  /* height: var(--header-height); */
}

footer p {
  color: #888;
  margin-bottom: 5px;
  text-align: center;
}

.logo-container {
  width: fit-content;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  margin-right: 10px;
}

h1 {
  color: #666;
  text-align: center;
  font-weight: lighter;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: var(--btn-radius);
  outline: none;
  border: none;
  padding: 10px;
  min-width: 120px;
  cursor: pointer;
}

button:disabled {
  background-color: #eee;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

form {
  /* display: flex; */
}

input, select {
  font-size: 14px;
  color: #888;
  padding: 5px;
  border-radius: var(--btn-radius);
  border: 1px solid #eee;
  outline: none;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

form button {
  margin-top: 10px;
}

.main {
  width: 70%;
  background-color: #fff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #eee;
  padding: 10px;
}

.main-body {
  border: 1px solid #eee;
  border-top: none;
  padding: 20px;
  min-height: 200px;
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
}

.main-footer {
  padding: 10px;
  border: 1px solid #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
}

.main-header h3 {
  color: #999;
  font-weight: lighter;
}

.main-header a {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: var(--btn-radius);
}

input:focus, select:focus {
  border-color: var(--primary-color);
}

form #btn-submit {
  position: absolute;
  background-color: var(--primary-color);
  color: #fff;
  right: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 10px;
}

label {
  color: #888;
}

.form-group label {
  margin-right: 10px;
}

#suggestions {
  display: flex;
  justify-content: center;
  align-items: center;
}

#suggestions a {
  margin: auto 5px;
  background-color: #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 14px;
  display: flex;
  align-items: center;
}

#suggestions a img {
  margin-right: 10px;
}

#suggestions button:active {
  background-color: #ddd;
}


#loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-new {
  padding-left: 30px;
  background: url(../assets/img/plus-circle-solid.svg) no-repeat 10px center/20px;
  min-width: 70px;
}

.btn-circle {
  min-width: unset;
  width: 25px;
  height: 25px;
  margin: auto;
  margin-left: 10px;
  border-radius: 100%;
  background-color: var(--primary-color);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

i {
  pointer-events: none;
  color: #fff;
}

.btn-circle:hover {
  opacity: .9;
}

.btn-circle:active {
  opacity: .7;
}

.btn-circle-delete {
  background-color: var(--color-danger);
}

.btn-circle-edit {
  background-color: var(--primary-color);
}

.input-thin {
  width: 70px;
}

table {
  margin: auto;
}

thead {
  background-color: #eee;
  padding: 10px;
}

tbody {
  background-color: #fcfcfc;
  color: #666;
}

th {
  padding: 5px 10px;
}



td {
  padding: 10px;
}

